[submodule "rely/hiredis"]
	path = rely/hiredis
	url = https://github.com/redis/hiredis.git
[submodule "rely/libevent"]
	path = rely/libevent
	url = https://github.com/libevent/libevent.git
[submodule "rely/spdlog"]
	path = rely/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "rely/yaml-cpp"]
	path = rely/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "rely/json"]
	path = rely/json
	url = https://github.com/nlohmann/json.git
